[Unit]
Description=Ensure Forgejo folders exist
Before=forgejo.service
Requires=forgejo.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/mkdir -p /var/lib/forgejo /var/home/git
ExecStart=/usr/bin/chown git:git /var/lib/forgejo /var/home/git
Restart=on-abort

[Install]
WantedBy=multi-user.target